*{
	margin: 0;
	padding: 0;
}
body{
background: #010101;
	
  
}
header{
	margin: 10px 200px 10px 185px;
	padding: 0 10px 0 10px;
	/* border: 1px solid #ff0000; */
	height: 150px;
}
.wrapper{
	background: url(../img/bg.jpg )no-repeat;
	margin: 0 auto;
	
}
.logo{
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	margin: 0px 0 0 0px;
	float: left;
	padding: 0px;
	width: 266px;
	height: 143px;
	
}
.contacts{
	float: right;
	color: white;
	width: auto;
	position: relative; 
    padding-top: 90px;
    box-sizing: border-box;
}

.contacts span{
	font-weight: bold;
}

.foto{
	width: 980px;
	
}

.foto li{
	float: left;
	width: 280px;
	padding: 20px 5px 0 0;
	list-style-type: none;
	display:inline-block;
	
}
.foto p{
	color:white;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
footer{
	clear: both;
	margin-top: 50px;
}

footer p{
	color:white;
	text-align: center;
}